/* Header CSS */
header{
	background-color:@colorWhite;
	
}



/* Header Menu*/

.main-menu{
	.hidden-desktop{
		display:none;
	}

	@media screen and (max-width: 800px){
		background: #187261;
		display:none;
		position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    z-index: 99;

	    .hidden-desktop{
			display:block;
		}

	    &.navbar-left {
		    float: none;
		}
		&.navbar-nav>li, &.nav>li, &.nav>li>a {
		    display:block;
		    float: none !important;
		    position:relative;
		}

		&.nav>li{
			border-bottom:1px solid #3f8678;
			
			&.hidden-desktop{
				background-color:@colorWhite;
				a{
					color: #187261;
				}
			}
			&>a {
			    padding:11px 15px;
			}
		}

	}	
}

.menu-mobile-btn{
	cursor:pointer;
	display:none;
	padding-right:50px;

	&:after{
		background-color:#fff7ff;
		content:"";
		height:30px;
		right:0px;
		top:2px;
		position:absolute;
		width:1px;

	}

	@media screen and (max-width:800px){
		display:inline-block;
		padding: 5px 0px;
		position: relative;
	    top: 9px;
	    width: 50px;
	}
	.btn.btn-navbar{
		border:0px;
		.box-shadow(none);
		min-width:inherit;
		padding:0;

		span.icon-bar  {
		    margin-top: -2px;
		    position: absolute;
		    right: 0px;
		    top: 50%;
		    .transition (background .3s .3s);
		}

		span.icon-bar::before, span.icon-bar::after {
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    content: '';
		    right: 0;
		    .transform (translateZ(0));
		   -webkit-transform-origin: 0% 50%;
		    -moz-transform-origin: 0% 50%;
		    -ms-transform-origin: 0% 50%;
		    -o-transform-origin: 0% 50%;
		    transform-origin: 0% 50%;
            -webkit-transition: -webkit-transform .3s .3s;
		    -moz-transition: -moz-transform .3s .3s;
		    transition: transform .3s .3s;
		}

		span.icon-bar::before{
			top:-9px;
		}
		span.icon-bar::after{
			top:9px;
		}

		span.icon-bar, span.icon-bar:before, span.icon-bar:after {
		    background: @colorWhite;
		    border-radius: 5px;
		    display: block;
		    height: 5px;
		    left: 0;
		    position: absolute;
		    width: 35px;
		}

		&.nav-is-visible {
			span.icon-bar {
			    background: transparent;
			    &:before{
			    	.transform (translateX(4px) translateY(-3px) rotate(45deg));
			    }
			    &:after{
			    	.transform (translateX(4px) translateY(3px) rotate(-45deg));
			    }
			}

		}
	}
	

}
.navbar {
    @media screen and (max-width:800px){
		margin-bottom: 0px;
	}
}

.navbar-nav {
    margin: 0;
}
.navbar-brand {
    display: block;
    float: left;
    height: auto;
    padding: 10px 10px 10px 0px;
    @media screen and (max-width:550px){
		padding: 10px 5px 10px 0px;
	}
	@media screen and (max-width:400px){
		padding: 10px 2px 10px 0px;
	}
    &.msf img{
    	@media screen and (max-width:650px){
    		width:65px;
    	}
    	@media screen and (max-width:550px){
    		width:50px;
    	}
    	@media screen and (max-width:450px){
    		width:45px;
    	}
    	@media screen and (max-width:370px){
    		width:40px;
    	}
    	@media screen and (max-width:330px){
    		width:35px;
    	}
    }
    &.logo img{
    	@media screen and (max-width:650px){
    		width:200px;
    	}
    	@media screen and (max-width:550px){
    		width:150px;
    	}
    	@media screen and (max-width:450px){
    		width:130px;
    	}
    	@media screen and (max-width:400px){
    		padding-top: 5px;
    		width:105px;
    	}
    	@media screen and (max-width:370px){
    		padding-top: 2px;
    		width:100px;
    	}
    	@media screen and (max-width:330px){
    		padding-top: 2px;
    		width:90px;
    	}
    }
}

.navbar-collapse {
    margin-top: -6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #187261;
    position:relative;
    max-width:100%;
    width:100%;

    @media screen and (max-width:990px){
    	padding-right: 8px;
    	padding-left: 8px;
    }
   
    @media screen and (max-width:800px){
    	border-bottom-left-radius: 0px;
    	border-bottom-right-radius: 0px;
    	.box-shadow(0 1px 5px rgba(0,0,0,.2));
    	margin-right: 0;
    	margin-left: 0;
    	padding:0 15px;

    	form{
    		width: ~"calc(100% - 100px)";
		    float: right;
		    margin: 10px 0px;
    	}
    }
    @media screen and (max-width:520px){
    	
    	form{
    		width: ~"calc(100% - 70px)";
		    float: right;
		    margin: 10px 0px;
    	}
    }
    @media screen and (max-width:410px){
    	
    	form{
    		width: ~"calc(100% - 50px)";
		    float: right;
		    margin: 10px 0px;
    	}
    }
}



.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color:@colorWhite;
	font-family: 'DINBold';
	text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffec80;
    background-color: transparent;
}

.navbar-header {
    padding: 0px 0 7px;
    background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;

    @media screen and (min-width: 768px){
		float: none;
	}

	.gov{
		padding: 20px 0px 0px;
		@media screen and (max-width:800px){
	    	margin-right: -5px;
	    }
	    @media screen and (max-width:330px){
	    	padding: 15px 0px 0px;
	    }
		ul {
		    float: right;
		    margin: 6px 0 0;
		    padding: 0;
		    @media screen and (max-width:800px){
		    	margin:3px 0;
		    }
		}

		li {
			display: inline-block;
			
			a {
			    border-right: 1px solid #0A0A0A;
			    color: #070707;
			    font-family: Arial,Helvetica,Geneva,sans-serif;
		    	font-weight: bold;
		    	font-size: 14px;
			    padding: 0 5px;
			    
			}

			&.change-text a{
				border-right: 0px;
				&.smaller-text{
					font-size:12px;
				}
				&.bigger-text{
					font-size:16px;
				}
				&.print-page{
					img{
						border:0;
						outline:0;
						width:17px;
					}
				}
			}

			&:last-child a{
				border-right: 0px;
			}
		}

		.logo-sg-right{
			display:block;
			padding-right:5px;
			text-align:right;
			@media screen and (max-width:650px){
				img{
					width:200px;
				}
			}
			@media screen and (max-width:480px){
				img{
					width:180px;
				}
			}
			@media screen and (max-width:450px){
				img{
					width:160px;
				}
			}
			@media screen and (max-width:370px){
				img{
					width:135px;
				}
			}
		}

	}


}


.nav>li>a {
	font-size:13px;
    margin:0 10px;
    padding: 10px 0px;
    @media screen and (max-width:832px){
    	margin:0 8px;
    }
}
.nav>li, .nav>li>a{
	position: inherit;


	&.iconess {
		position: relative;
		width: 40px;
		height: 30px;
		.fa {
			font-size: 30px;
			color: #fff;
			transform: translateY(-50%) rotate(90deg);
			position: absolute;
			top: 50%;
			right: 0;
		}
	}
}



.parenting-resources-page {
	
	.navbar-default .navbar-nav>li.parenting>a,
	.navbar-default .navbar-nav>li.parenting>a:focus, 
	.navbar-default .navbar-nav>li.parenting>a:hover{
	    color: #ffec80;
	    background-color: transparent;
	}

	.top{
		background-color:#ebe7db;
	}

	.wrapper-submenu{
		display:block;
	}
}

.top > .container-fluid{
	@media screen and (max-width:830px){
    	padding:0px 4px;
    	max-width:100%;
    }
    @media screen and (max-width:800px){
    	padding:0px;
    	&>.navbar-collapse{
    		margin-left:0px;
    		margin-right:0px;
    	}
    }

}

.wrapper-submenu{
	display:none;
	
	ul{
		display: table;
		list-style: none;
		margin: 0px auto 0;
	    padding-left: 0;
	    text-align: center;
	    
	    li{
	    	display:table-cell;
	    	cursor:pointer;
	    	padding:5px 20px;
	    	vertical-align: top;
	    	
	    	a{
	    		color:#2e2e2e;
	    		display: block;
	    		font-family: 'DINBold';
	    		font-size:16px;
	    		text-transform:uppercase;
	    		&:hover,&:focus, &:active, &:visited{
	    			text-decoration:none;
	    		}
	    		span{
	    			display:block;
	    			font-family: 'DINPro-Regular';
	    			font-size:13px;
	    		}
	    	}

	    	&:hover, &.active{
	    		background-color:#187261;
	    		a{
	    			color:@colorWhite;
	    		}
	    	}
	    }
	}
	
}

/* Search */
#btnsearch{
	background: transparent;
	/*background:transparent url(assets/images/search.png) no-repeat center center;*/
	color:#187261;
	font-size:0;
	height:100%;
	outline:0;
	width:100%;
	position: absolute;
	z-index: 5;

	&:active{
		.box-shadow (none);
	}
	
	/*@media screen and (max-width:900px){
    	margin-right: 5px;
    	width: 28px;
    }
    @media screen and (max-width:900px){
    	margin-right: 0px;
    }
    @media screen and (max-width:480px){
    	width: 38px;
    }*/
}

#search{
	border: 0;
	border-radius: 2px;
	color:#666666;
	font-size:16px;
	padding:3px 6px;
	width: 260px;
	@media screen and (max-width:960px){
    	width: 200px;
    }
    @media screen and (max-width:900px){
    	width: 170px;
    }
    @media screen and (max-width:860px){
    	width: 150px;
    }
    @media screen and (max-width:800px){
    	width: 240px;
    }

    @media screen and (max-width:400px){
    	width: ~"calc(100vw - 150px)";
    }

        
}
.search-box{
	margin-top: 6px;
	@media screen and (max-width: 800px){
		float: right;
		margin-top: 0px;
		li{
			float:left;
		}
	}	
}