/* Home CSS */


/** Alert **/

.wrapper-home-alert {
    @media screen and (max-width: 800px) {
        &.container-fluid {
            max-width:100%;
            padding: 0;
            .row,
            .col-md-12 {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.home-alert {
    background-color: #ffffe7;
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    padding: 25px 22px;
    p {
        margin: 0px;
    }
    .text-alert {
        color: #eb0000;
        font-weight: bold;
    }
}

.home-thumbnail {
    margin-bottom: 40px;
    &.left-side {
        .content-thumbnail-wrapper-cta {
            background-color: #007c66;
        }
        h3 {
            color: #007c66;
            border-bottom: 5px solid #007c66;
            font-family: 'DINBold';
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 20px;
            padding-bottom: 5px;
            text-transform: uppercase;
            @media screen and (max-width: 991px) {
                font-size:22px;
                line-height: normal;
            }
            @media screen and (max-width:767px) {
                font-size: 20px;
            }
        }
        h4 {
            color: #007c66;
            font-family: 'DINBold';
            font-size: 23px;
            line-height: 27px;
            margin-bottom: 10px;
            text-transform: uppercase;
            @media screen and (max-width: 991px) {
                font-size:20px;
                line-height: normal;
            }
            @media screen and (max-width:767px) {
                font-size: 18px;
            }
        }
    }

    &.right-side {
        .content-thumbnail-wrapper-cta {
            background-color: #ffedaa;
        }
        h3 {
            color: #ce4c00;
            border-bottom: 5px solid #ffedaa;
            font-family: 'DINBold';
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 20px;
            padding-bottom: 5px;
            text-transform: uppercase;
            @media screen and (max-width: 991px) {
                font-size:22px;
                line-height: normal;
            }
            @media screen and (max-width:767px) {
                font-size: 20px;
            }
        }
        h4 {
            color: #ce4c00;
            font-family: 'DINBold';
            font-size: 23px;
            line-height: 27px;
            margin-bottom: 10px;
            text-transform: uppercase;
            @media screen and (max-width: 991px) {
                font-size:20px;
                line-height: normal;
            }
            @media screen and (max-width:767px) {
                font-size: 18px;
            }
        }
    }

    .content-thumbnail-copy {
        border-bottom: 1px solid #e1ded5;
        padding: 30px 22px;
        @media screen and (max-width: 768px) {
            padding:5px 15px;
        }
        @media screen and (max-width:768px) and (min-width:480px) {
            height: 300px;
        }
        .desc {
            color: #2e2e2e;
            font-family: proxima_nova_regular, sans-serif;
            font-stretch: normal;
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-variant-numeric: normal;
            font-weight: normal;
        }
    }

    .content-thumbnail-img {
        background-size: cover;
        background-position: center center;
        height: 207px;
    }
    .content-thumbnail-wrapper-cta {
        padding: 30px 20px;
        text-align: center;

        @media screen and (max-width: 480px) {
            padding:10px;
        }
    }

    .wrapper-content-thumbnail {
        .box-shadow (0px 3px 3px 0px rgba(231, 231, 231, 1));
    }
}


/* HOME HERO  - CALL OUT - SLIDER */

.home-hero {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        display:block;
    }

    &>.col-md-3 {
        padding-left: 0px;
        @media screen and (max-width: 767px) {
            padding-left: 15px;
        }
    }
    &>.col-md-9 {
        padding-right: 10px;
        @media screen and (max-width: 767px) {
            padding-right:15px;
        }
    }
    .call-out {
        margin-top: 5px;
        @media screen and (max-width: 767px) {}
    }
    .callout-link {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #f57e20;
        border-radius: 50%;
        background-image: url(assets/images/call-out.png);
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: 768px) {
            width: 20px;
            height: 20px;
            background-size: 8px auto;
        }
    }
    .hero {
        margin-bottom: 0px;
        /*opacity: 0;*/

        .hero-img figure {
            height: 300px;
            width: 100%;
            padding-bottom: 0;
            @media screen and (max-width: 767px) {
                height: 350px;
                max-height: 55vw;
            }
        }

        /*@media screen and (max-width: 1098px) {
            height: 340px;
            .hero-img figure {
                height: 340px;
            }
        }*/

        /*@media screen and (max-width:768px) {
            height: auto;

            .hero-img figure {
                height: auto;
                padding-top: 56.25%;
            }
        }*/

        @media screen and (max-width:767px) {
            height: auto;
            margin-bottom: 30px;
            .hero-img figure {
                height: auto;
                padding-top: 56.25%;
            }
        }
    }

    .home-hero-links {
        list-style: none;
        max-width: 100%;
        padding: 0;
        text-align: center;

        .btn {
            /*font-family: 'proxima_nova_ltsemibold';*/
            font-family: 'proxima_nova_altbold';
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            white-space: normal;
            width: 100%;
        }

        .btn-primary.purple {
            color: #fff;
            background-color: #890034;
            border-color: transparent;
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
            /*font-weight: bold;*/
            outline: 0;
            padding: 20px 0;
            text-transform: uppercase;
        }

        .btn-primary.purple:focus,
        .btn-primary.purple:hover,
        .btn-primary.purple:active,
        .btn-primary.purple:active:focus {
            color: #fff;
            background-color: #5b0425;
            border-color: transparent;
            font-size: 18px;
            font-weight: 400;
            /*font-weight: bold;*/
            outline: 0;
            text-transform: uppercase;
        }

        li {
            margin: 10px auto;
            @media screen and (max-width: 768px) {
                margin:18px auto;
            }
            @media screen and (max-width:767px) {
                margin: 10px auto;
            }
        }
    }

    .wrapper-home-links {
        background-color: #ffedaa;
        height: 100%;
        padding: 10px 20px;
        @media screen and (max-width: 1098px) {
            height: 100%;
            .btn {
                padding: 10px;
            }
        }
        @media screen and (max-width:768px) {

            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4) {
                .btn {
                    padding: 20px 10px;
                }
            }
        }

        @media screen and (max-width:767px) {
            height: auto;
            padding-bottom: 50px;
            .btn {
                padding: 10px;
            }
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4) {
                .btn {
                    padding: 10px;
                }
            }
        }

        /*@media screen and (max-width:760px){
            height: 340px;
        }*/
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .home-hero {
        /*&>.col-sm-4 {
            width: 31.33333333%;
        }*/
        &>.col-md-9 {
            padding-right: 10px;
        }
        .wrapper-home-links {
            height: 100%;
            position: absolute;
            right: 15px;
        }
    }
}


/* CALL OUT */

.callout {
    display: none;
    border: 1px solid #ff860f;
    border-radius: 0;
    position: absolute;
    right: 65px;
    margin-top: -33px;
    z-index: 1060;
    max-width: 200px;
    padding: 1px;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    @media screen and (max-width: 767px) {
        right: 76px;
        margin-top: -38px;
    }
}

.callout>.arrow {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 11px;
    border-left-color: rgb(255, 134, 15);
    border-left-style: solid;
    border-left-width: 11px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 11px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 22px;
    letter-spacing: normal;
    line-break: auto;
    line-height: 20px;
    margin-top: -22px;
    position: absolute;
    right: -11px;
    text-align: start;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    top: 28px;
    white-space: normal;
    width: 11px;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        right: -9px;
        border-right-width: 0;
        border-left-color: #fff;
        bottom: -10px;
        content: " ";
        border-width: 10px;
    }
}

.callout-content {
    padding: 9px 10px 9px 14px;
    ul {
        padding-left: 15px;
    }
}

.callout-link {
    img {
        /*margin-top: -1px;*/
        @media screen and (min-width: 768px) {
            width: 20px;
            height: auto;
        }
    }
}



/* SLICK */

.slick-slide {
    &:focus {
        outline: 0;
    }
    a:focus {
        outline: 0;
    }
}

.slick-prev {
    left: 15px;
    z-index: 9;
    &:before {
        background: url(assets/images/slick-prev.png);
        background-size: 33px 57px;
        content: "";
        display: block;
        height: 57px;
        width: 33px;
        @media screen and (max-width: 767px) {
            background-size: 20px 28px;
            height: 28px;
            width: 20px;
        }
    }
}

.slick-next {
    right: 15px;
    &:before {
        background: url(assets/images/slick-next.png);
        background-size: 33px 57px;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 57px;
        width: 33px;
        @media screen and (max-width: 767px) {
            background-size: 20px 28px;
            height: 28px;
            width: 20px;
        }
    }
}

.slick-next,
.slick-prev {
    height: auto;
    width: auto;
}

.slick-initialized.hero-text .slick-slide {

    border-left: 1px solid #187261;
    display: block;
    outline: 0;
    padding: 10px 0px;

    /*.desc{
        font-size:18px;
        line-height:20px;
    }*/
    /*h3{
        font-size:30px;
        line-height:32px;
    }*/
}