/* Life stage landing CSS */

.parenting-resources-page {
    .lifestage-hero {
        margin-bottom: 50px;
        h2 {
            color: #2e2e2e;
        }
    }

    .lifestage-links {
        margin-bottom: 50px;
        h3 {
            background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
            margin-bottom: 16px;
            padding-bottom: 20px;
        }
        .links-title {
            color: #007c66;
            font-family: 'proxima_nova_ltsemibold';
            font-size: 18px;
            font-weight: normal;
            line-height: 22px;
            padding-bottom: 8px;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                position: relative;
                padding-bottom: 12px;
                text-transform: none;
                font-size: 20px;
                line-height: 24px;
                &:after {
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: '\f067';
                    display: inline-block;
                    font-size: 14px;
                    position: absolute;
                    top: 4px;
                    right: 0;
                    line-height: normal;
                }

                &.opened:after {
                    content: '\f068';
                }
            }
        }
        ul {
            list-style: none;
            padding-bottom: 20px;
            padding-left: 0px;
            li {
                padding-bottom: 8px;
                a {
                    color: #000000;
                    font-family: 'proxima_nova_regular';
                    font-size: 18px;
                    line-height: 19px;
                    position: relative;
                    text-decoration: none;
                    &:after {
                        background-color: #d8d8d8;
                        content: "";
                        display: block;
                        height: 1px;
                        position: absolute;
                        /*width: 100%;*/
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }

            @media screen and (max-width:767px) {
                display: none;
                padding-left: 20px;
                padding-bottom: 5px;
            }
        }
    }

    .page-parenting-hero {
        h2 {
            color: #2e2e2e;
            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
        }
    }

    .page-parenting-links {
        margin-bottom: 50px;
        h3 {
            background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
            margin-bottom: 16px;
            padding-bottom: 20px;
            @media screen and (max-width: 767px) {
                font-size: 20px;
                line-height: 17px;
            }
        }

        .article__flex {
            margin-left: -8px;
            margin-right: -8px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            article {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                padding: 8px;
            }

            .article__inner {
                /*height: 100%;*/
                border: 1px solid #b3b3b3;
                figure {
                    width: 100%;
                    padding-bottom: 56.25%;
                    /*height: 170px;*/
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    /*@media screen and (max-width:767px){*/
                    /*height: 480px;*/
                    /*max-height: 60vw;*/
                    /*}*/
                }
                .article__detail {
                    padding: 20px;
                    h4 {
                        font-family: proxima_nova_ltsemibold, sans-serif;
                        font-size: 20px;
                        margin-top: 0;
                        text-transform: none;
                        @media screen and (max-width: 767px) {
                            font-size: 16px;
                        }
                    }
                    p {
                        @media screen and (max-width: 767px) {
                            font-size: 15px;
                        }
                    }
                    a {
                        color: #007c66;
                        @media screen and (max-width: 767px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.hero {
    position: relative;
    background-color: #187261;
    /*height: 300px;*/
    overflow: hidden;
    /*opacity:0;*/
    margin-bottom: 40px;

    .hero__column {
        padding: 0;
        margin: 0;
        /*height: 100%;*/
        position: static;
        &.col1 {
            float: left;
            position: relative;
            width: 66.66666667%;
            @media screen and (max-width: 767px) {
                display:block;
                float: none;
                width: 100%;
            }
        }
        &.col2 {
            float: left;
            position: relative;
            width: 33.33333333%;
            @media screen and (max-width: 767px) {
                display:block;
                float: none;
                width: 100%;
            }
        }
    }

    .hero-img {
        figure {
            background-size: cover;
            background-position: center center;
            /*height: 300px;*/
            width: 100%;
            padding-bottom: 56.25%;
            /*@media screen and (max-width:767px){*/
            /*height: 350px;*/
            /*max-height: 55vw;*/
            /*}*/
        }
    }

    .hero-text {
        color: @colorWhite;
        padding: 0 20px 45px;
        height: 100%;
        margin-bottom: 0;
        position: static;
        a {
            color: @colorWhite;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                color: @colorWhite;
            }
        }

        .desc {
            font-size: 18px;
            line-height: 20px;
            @media screen and (max-width: 767px) {
                font-size: 15px;
                line-height: normal;
            }
        }

        h3 {
            color: @colorWhite;
            font-size: 30px;
            line-height: 32px;
            text-transform: none;
            @media screen and (max-width: 767px) {
                font-size: 20px;
                line-height: normal;
            }
        }

        .slick-dots {
            width: auto;
            display: inline-block;
            bottom: 5px;
            right: 10px;

            li {
                width: 12px;
                height: 12px;
                padding: 0;
                margin: 10px;
                border: 1px solid @colorWhite;
                border-radius: 50%;
                @media screen and (max-width: 767px) {
                    width: 7px;
                    height: 7px;
                    margin: 5px;
                }
            }

            li.slick-active {
                background-color: @colorWhite;
            }

            button {
                display: none;
            }
        }
    }

    @media screen and (max-width:767px) {
        height: auto;
    }
}