/* General CSS */

body{
	background-color:@colorWhite;
	font-family: 'proxima_nova_regular';
	font-size:16px;
	font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;

    &.stories, &.white__theme{
		background-color:@colorWhite;
	}
}


.body-wrap.content{
    min-height: ~"calc(100vh - 250px)";
	
}
.container-fluid{
	margin:0 auto;
	max-width:1120px;
}

.skip-access {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

/** BREADCRUMB **/
.breadcrumb {
	
    background-color: transparent;
    margin-bottom: 10px;
    padding: 8px 15px 8px 0px;

    a{
    	color:#2e2e2e;
    	font-family: 'proxima_nova_regular';
    	font-size:16px;
    }
    &>.active {
	    color: #2e2e2e;
	    font-family: 'proxima_nova_regular';
	    font-weight:bold;
	}

	&>li+li:before {
	    color: #2e2e2e;
	    content: ">";
	    font-family: 'proxima_nova_regular';
	    font-weight: normal;
	    padding: 0 5px;
	}
    
}

/** TYPHOGRAPHY **/
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
	font-family: 'DINBold';
	margin-top: 15px;
    margin-bottom: 10px;
	text-transform:uppercase;
}

h5, .h5{
	color:#007c66;
	font-family: 'proxima_nova_regular';
	font-size:16px;
	font-weight:700;
	em{
		font-weight:500;
	}
}

p{
	margin-bottom:15px;
}



/** BUTTONS **/
.btn-primary{
	background-color: #e67300;
	border-color: transparent;
	.box-shadow (0px 3px 7px 0px rgba(19,19,19,0.3));
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}
.btn{
	padding:10px 22px;
	@media screen and (max-width:480px){
		padding:10px 0px;
		width:90%;
	}
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover{
    color: #fff;
    background-color: #ce6c0a;
    border-color: transparent;
    outline:0;
    text-transform:uppercase;
}




/** FORM **/
textarea{
	resize: none;
}
textarea::-webkit-resizer {
  display: none;
}

