/* Article CSS */
.content-article{
	border-bottom:2px solid #e8e8e8;
	color:#2e2e2e;
	margin-bottom:30px;
	padding-bottom:20px;

	a, a:hover, a:focus, a:visited, a:active, a:active:focus{
		color:#2e2e2e;
		display: inline-block;
		position: relative;
    	text-decoration: none;
	}

	a:after {
	    background-color: #d8d8d8;
	    bottom: 0.5px;
	    content: "";
	    display: block;
	    height: 1px;
	    position: absolute;
	    width: 100%;
	}

	img{
		max-width:100%;
	}

	ul, ol{
		margin-bottom:20px;
		padding-left:15px;
		li{
			margin-bottom:5px;
		}
	}
}

.content-template-copy{
	a, a:hover, a:focus, a:visited, a:active, a:active:focus{
		color:#2e2e2e;
		display: inline-block;
		position: relative;
    	text-decoration: none;
	}

	a:after {
	    background-color: #d8d8d8;
	    bottom: 0.5px;
	    content: "";
	    display: block;
	    height: 1px;
	    position: absolute;
	    width: 100%;
	}

	img{
		max-width:100%;
	}

	ul, ol{
		margin-bottom:20px;
		padding-left:15px;
		li{
			margin-bottom:5px;
		}
	}
}

iframe{
	margin:10px 0px 20px;
	max-width:800px;
	@media screen and (max-width:767px){
		height:300px;
	}
}

.navigation-article{
	margin-bottom:30px;
	text-align:right;
	a{
		color:#007c66;
		font-weight:bold;
		text-transform:uppercase;
	}
}

/* Template 01 */
.wrapper-article-template01{
	
	.content-template-copy{
		float:left;
		padding-right:15px;
		width:65%;
	}

	.content-template-image{
		background-position:center center;
		background-size:cover;
		padding-top:70%;
	}
	
	.content-template-image-desc{
		color:@colorWhite;
		background-color:#007c66;
		padding: 20px;
		
		h3{
			font-size:25px;
			margin-top: 0;
		}
	}

	.wrapper-content-template-image{
		float:left;
		padding-left:15px;
		width:35%;
	}

	@media screen and (max-width:800px){
		.content-template-copy, .wrapper-content-template-image{
			float:none;
			padding:0px;
			width:100%;
		}
	}

}


/* Template 03 */
.wrapper-article-template03{
	border-bottom:2px solid #e8e8e8;
	margin-bottom:30px;
	padding-bottom:20px;

	a{
		color:#007c66;
		font-size:14px;
	}

	

	h5, .h5{
		color:#2e2e2e;
		margin-top: 0;
	}

	.article-template03-copy{
		display:inline-block;
		vertical-align:top;
		width:~ "calc(100% - 157px)";
		@media screen and (max-width:500px){
			width:~ "calc(100% - 120px)";
		}
	}
	.article-template03-img{
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display:inline-block;
		height:132px;
		margin-right:15px;
		vertical-align:top;
		width:132px;

		@media screen and (max-width:500px){
			height:100px;
			width:100px;
		}
	}

	.article-template03{
		 
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

	    margin-left: -8px;
        margin-right: -8px;

		padding-left: 15px;
    	padding-right: 15px;

    	.col-md-6{
			border-bottom:2px solid #e8e8e8;
			display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            padding-bottom:30px;
			padding-left: 0px;
			padding-top: 30px;
			width:49%;
    	}
    	
    	&:last-child {
    		margin-bottom:0px;
	    	.col-md-6{
	    		border-bottom:0px;
	    		padding-bottom:10px;
	    	}
	    }
	}

}

/* Template 04 */
.wrapper-article-template04{
	border-bottom:2px solid #e8e8e8;
	margin-bottom:30px;
	padding-bottom:20px;

	a{
		color:#007c66;
		font-size:14px;
	}

	

	h5, .h5{
		color:#2e2e2e;
		margin-top: 0;
	}

	.article-template04-copy{
		display:inline-block;
		vertical-align:top;
		width:~ "calc(100% - 157px)";
		@media screen and (max-width:500px){
			width:~ "calc(100% - 120px)";
		}
	}
	.article-template04-img{
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display:inline-block;
		height:100px;
		margin-right:10px;
		vertical-align:top;
		width:130px;

		@media screen and (max-width:500px){
			height:100px;
			width:100px;
		}
	}

	.row.article-template04{
		display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

	    margin-left: -8px;
        margin-right: -8px;

		padding-left: 15px;
    	padding-right: 15px;

    	.col-md-6{
			border-bottom:2px solid #e8e8e8;
			display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
			padding-bottom:30px;
			padding-left: 0px;
			padding-top: 30px;
			width:49%;
    	}
    	&:last-child {
    		margin-bottom:0px;
	    	.col-md-6{
	    		border-bottom:0px;
	    		padding-bottom:10px;
	    	}
	    }
	}

}

.lifestage-hero.hero-article-template04{
	margin-bottom:0px;
}
.parenting-resources-page .lifestage-hero.hero-article-template04 .hero{
	margin-bottom:10px;
}


/* Template 05 */
.wrapper-article-template05{
	border-bottom:2px solid #e8e8e8;
	margin-bottom:30px;
	padding-bottom:20px;

	.article-template05-copy{
		display:inline-block;
		vertical-align:top;
		
	}
	.article-template05-img{
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display:inline-block;
		padding-top:75%;
		margin-bottom:20px;
		vertical-align:top;
		width:100%;

		@media screen and (max-width:500px){
			height:100px;
			width:100px;
		}
	}

	.row.article-template05{
		display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

	    margin-left: -8px;
        margin-right: -8px;
        padding-left:0px;
        padding-right:0px;

		
	    .col-md-4{
	    	display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
	    	margin-bottom:35px;
	    	padding:8px;
	    	width: 33.23333333%;
	    }
	}

	.title-thumbnail{
		background-color:#cde4df;
		font-size:18px;
		margin-bottom:20px;
		margin-top:10px;
		padding:10px;
	}

}


/* Template 06 */
.wrapper-article-template06{
	border-bottom:2px solid #e8e8e8;
	margin-bottom:30px;
	padding-bottom:20px;

	a{
		color:#007c66;
		font-size:14px;
	}

	

	h5, .h5{
		color:#2e2e2e;
		margin-top: 0;
	}

	.article-template06-copy{
		display:inline-block;
		vertical-align:top;
		width:~ "calc(100% - 157px)";
		@media screen and (max-width:500px){
			width:~ "calc(100% - 120px)";
		}
	}
	.article-template06-img{
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display:inline-block;
		height:132px;
		margin-right:15px;
		vertical-align:top;
		width:132px;

		@media screen and (max-width:500px){
			height:100px;
			width:100px;
		}
	}

	.row.article-template06{
		display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

	    margin-left: -8px;
        margin-right: -8px;

		padding-left: 15px;
    	padding-right: 15px;
    	position:relative;



    	.col-md-6{
			border-bottom:2px solid #e8e8e8;
			display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
			padding-bottom:30px;
			padding-left: 0px;
			padding-top: 30px;
			width:49%;
    	}
    	&:last-child {
    		margin-bottom:0px;
	    	.col-md-6{
	    		border-bottom:0px;
	    		padding-bottom:10px;
	    	}
	    }
	}

}



@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {

    .wrapper-article-template06 .row.article-template06 .col-md-6,
    .wrapper-article-template03 .article-template03 .col-md-6,
    .wrapper-article-template04 .row.article-template04 .col-md-6{
    	width:49%;
    }

    .wrapper-article-template05 .row.article-template05 .col-md-4 {
	        width: 33.23333333%;
	}

}}