/* Footer CSS */
footer{
	color:@colorWhite;


	a {
		color:@colorWhite;
		&:hover, &:focus, &:visited{
			color:@colorWhite;
		}
	}

	.footer-bottom{
    	background-color:#007c66;
    	padding:20px 0px 42px;
    	
    	.copyright{
			font-size:14px;
			float:left;
    		line-height:24px;
    	}

    	.wrapper-footer-links{
    		font-size:16px;
    		float:right;
    		line-height:19px;
    		@media screen and (max-width:767px){
    			font-size:14px;
    		}
    		.footer-links{
    			margin-top:25px;
    			li{
    				margin-right:15px;

    				&:last-child{
    					margin-right:0px;
    				}
    			}
    		}

    		@media screen and (max-width:650px){
    			float:none;

    			.footer-links{
	    			margin-bottom:15px;
	    			margin-top:0px;
	    			li{
	    				margin-right:15px;
	    				&:last-child{
	    					margin-right:0px;
	    				}
	    			}
	    		}

    		}

    	}

    }

	.footer-top{
    	background-color:#258900;
    	padding:22px 0 20px;

    	.footer-links{
    		font-size:16px;
    		line-height:16px;
			margin-top:0px;
			li{
				margin-right:10px;
				padding-right:15px;
				position:relative;

				@media screen and (max-width:767px){
    					margin-bottom:2px;
		    			a{
		    				font-size:14px;
		    				line-height:18px;
		    			}
		    		}

				&:after{
					background-color:#b6d25e;
					content:"";
					height:100%;
					position:absolute;
					right:0px;
					width : 2px;
				}
				&:last-child{
					margin-right:0px;
					&:after{
						display:none;
					}
				}
			}
		}

    }

    ul{
    	list-style:none;
    	margin-bottom:0px;
    	padding-left:0px;
    	li{
    		display:inline-block;
    	}
    }

}

