/* Sidebar CSS */
.sidebar{
	border:2px solid #007c66;
	margin-top: 15px;
	padding-bottom:10px;
	width:100%;

	&>ul{
		list-style:none;
		padding:20px;
		&>li{
			margin:0 0 10px 0px;
			&:last-child{
				margin:0px;
			}
			&>a{
				color:#007c66;
				font-size:18px;
				font-weight:700;
				text-transform:uppercase;
			}

			.sidebar-wrapper-submenu-links{
				display:none;
				list-style:none;
				padding:10px 0px;
				&>li{
					margin:0 0 2px 0px;
					&:last-child{
						margin:0px;
					}
					&>a{
						display:block;
						color:#2e2e2e;
						font-size:18px;
						font-weight:700;
						padding-right:15px;
						position:relative;
						
						&.has-subsubmenu-menu:hover, &.has-subsubmenu-menu:active, &.has-subsubmenu-menu:focus{
							text-decoration:none;
						}
						&.has-subsubmenu-menu:before{
						    background: #595959;
						    content:"";
						    display: block;
						    height: 2px;
						    right: 0;
						    position: absolute;
						    top: 9px;
						    width: 12px;
						}
						&.has-subsubmenu-menu:after{
						    background: #595959;
						    content:"";
						    display: block;
						    height: 12px;
						    right: 5px;
						    position: absolute;
						    top: 4px;
						    width: 2px;
						}
					}
					&.active{
						&>a{
							&:after{
							    display:none;
							}
						}
					}
				}
			}

			.sidebar-wrapper-subsubmenu-links{
				display:none;
				list-style:none;
				padding:15px 0px 20px 0px;
				&>li{
					margin:0 0 8px 0px;

					&:before {
					    content: ">";
					    color: #2e2e2e;
					    display:inline-block;
						font-family: proxima_nova_regular;
					    font-weight: 400;
					    padding: 0 5px;
					    vertical-align: top;
    					width: 17px;
					}

					&:last-child{
						margin:0px;
					}
					&>a{
						display:inline-block;
						color:#2e2e2e;
						font-family:proxima_nova_ltthin;
						font-size:18px;
						position:relative;
						width:~"calc(100% - 22px)";
						&:hover, &:active, &:focus{
							text-decoration:underline;
						}
						
						
					}
					
				}
			}

			&.active .sidebar-wrapper-submenu-links,
			.active .sidebar-wrapper-subsubmenu-links{
				display:block;
			}
		}
	}

	.sidebar-title{
		border-bottom:2px solid #91c6bd;
		.box-shadow(0 1px 5px rgba(31,31,31,.1));
		padding:15px 20px;
		&>h4{
			color:#007c66;
			font-size:25px;
			line-height:26px;
			margin:0px;
		}
	}

	

}

.col-md-3.wrapper-sidebar{
	margin-bottom: 30px;
	max-width:306px;
	@media screen and (max-width:800px){
		display:none;
	}
}

.col-md-9.wrapper-content-template{
	margin-bottom: 30px;
	width:~"calc(100% - 280px)";
	@media screen and (max-width:800px){
		width:100%;
	}
}

