/*Submenu CSS*/

.wrapper-submenu-mobile {
    color: #2e2e2e;
    a {
        text-decoration: none;
    }
    strong {
        font-family: 'DINBold';
        font-weight: normal;
        font-style: normal;
    }
    .dropdown {
        font-family: 'DINPro-Regular';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        .dropdown-toggle {
            position: relative;
            color: #007c66;
            display: block;
            margin: 0;
            padding: 18px 55px 18px 18px;
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            text-align: left;
            strong {
                font-size: 18px;
            }
            .babycaret {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: inline-block;
                vertical-align: middle;
                padding: 12px 18px;
                -webkit-box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
                box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                &:before {
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: '\f0d7';
                    display: inline-block;
                    font-size: 26px;
                }
            }

            &:hover,
            &:focus {
                color: #007c66;
                background: transparent;
            }
        }
        &.open {
            .dropdown-toggle {
            	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                .babycaret {
                    &:before {
                        content: '\f0d8';
                    }
                }
            }
        }
        .dropdown-menu {
            position: relative;
            padding: 0;
            margin: 0;
            width: 100%;
            border: none;
            box-shadow: none;
            border-radius: 0;
            background-color: #ebe7db;
            &.droproot {
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &.opened {
                    left: -100%;
                }
            }
            &.dropside {
                position: absolute;
                top: 0;
                left: 100%;

                .dropdown-back {
                    position: relative;
                    color: #fff;
                    background-color: #007c66;
                    padding: 30px 18px 30px 40px;
                    font-size: 18px;
                    line-height: 18px;
                    &:before {
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 18px;
                        transform: translateY(-50%);
                        font-size: 26px;
                        content: '\f0d9';
                    }
                }
            }
            &>li {

                &>a {
                    border-top: 1px solid rgba(192, 190, 184, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    position: relative;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 30px 18px;
                    outline: none;
                    background: transparent;
                }
                &.dropdown-submenu {
                    &>a {
                        &:before {
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 26px;
                        }
                    }
                }
            }
            &.second2nd {
                &>li {
                    &.dropdown-submenu {
                        &>a {
                            padding-right: 40px;
                            &:before {
                                content: '\f0da';
                                right: 18px;
                            }
                        }
                    }

                    &.opened {
                        &>a {
                            &:before {
                                content: '\f0d7';
                            }
                        }
                    }
                }
            }
            &.third3rd {
                border-top: 1px solid rgba(192, 190, 184, 0.5);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                li {
                    padding: 0 15px;
                    a {
                        border: none;
                        padding: 15px 18px;
                        text-transform: none;
                    }
                    &.dropdown-submenu {
                        &>a {
                            &:before {
                                content: '\f067';
                                right: 20px;
                                font-size: 16px;
                            }
                        }
                    }

                    &.opened {
                        &>a {
                            &:before {
                                content: '\f068';
                            }
                        }
                    }
                }
            }
            &.four4th {
                li {
                    a {
                        padding-left: 30px;
                        &:before {
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 18px;
                            transform: translateY(-50%);
                            content: '\f105';
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &>.dropdown-menu {
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}