@font-face {
  font-family: 'DINPro-Regular';
  src: url('assets/fonts/DINPro-Regular_13937.eot');
  src: local('☺'), url('assets/fonts/DINPro-Regular_13937.woff') format('woff'), url('assets/fonts/DINPro-Regular_13937.ttf') format('truetype'), url('assets/fonts/DINPro-Regular_13937.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINBold';
  src: url('assets/fonts/din-bold-webfont.eot');
  src: url('assets/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/din-bold-webfont.woff') format('woff'), url('assets/fonts/din-bold-webfont.ttf') format('truetype'), url('assets/fonts/din-bold-webfont.svg#DINBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: proxima_nova_altbold;
  src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
  src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'), url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('assets/fonts/Proxima Nova Semibold.eot');
  src: url('assets/fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Proxima Nova Semibold.woff') format('woff'), url('assets/fonts/Proxima Nova Semibold.ttf') format('truetype'), url('assets/fonts/Proxima Nova Semibold.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url('assets/fonts/Proxima Nova Thin.eot');
  src: url('assets/fonts/Proxima Nova Thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Proxima Nova Thin.woff') format('woff'), url('assets/fonts/Proxima Nova Thin.ttf') format('truetype'), url('assets/fonts/Proxima Nova Thin.svg#proxima_nova_ltthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url(https://use.typekit.net/af/f0181d/00000000000000003b9b0389/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/f0181d/00000000000000003b9b0389/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/f0181d/00000000000000003b9b0389/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'mm-socmed';
  src: url('assets/fonts/mm-socmed.eot?hkphut');
  src: url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'), url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'), url('assets/fonts/mm-socmed.woff?hkphut') format('woff'), url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: #4e71a8;
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: #e53569;
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: #1686b0;
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: #ca3737;
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.js .fouc,
.fouc {
  /* avoid fouc if js avail */
  visibility: hidden;
}
.no-js .fouc {
  visibility: visible;
}
/*
  Mixins
*/
/*
 Variables
*/
/* Primary Colors */
/* Secondary Colors */
/* width */
/* General CSS */
body {
  background-color: #ffffff;
  font-family: 'proxima_nova_regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}
body.stories,
body.white__theme {
  background-color: #ffffff;
}
.body-wrap.content {
  min-height: calc(100vh - 250px);
}
.container-fluid {
  margin: 0 auto;
  max-width: 1120px;
}
.skip-access {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
/** BREADCRUMB **/
.breadcrumb {
  background-color: transparent;
  margin-bottom: 10px;
  padding: 8px 15px 8px 0px;
}
.breadcrumb a {
  color: #2e2e2e;
  font-family: 'proxima_nova_regular';
  font-size: 16px;
}
.breadcrumb > .active {
  color: #2e2e2e;
  font-family: 'proxima_nova_regular';
  font-weight: bold;
}
.breadcrumb > li + li:before {
  color: #2e2e2e;
  content: ">";
  font-family: 'proxima_nova_regular';
  font-weight: normal;
  padding: 0 5px;
}
/** TYPHOGRAPHY **/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'DINBold';
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h5,
.h5 {
  color: #007c66;
  font-family: 'proxima_nova_regular';
  font-size: 16px;
  font-weight: 700;
}
h5 em,
.h5 em {
  font-weight: 500;
}
p {
  margin-bottom: 15px;
}
/** BUTTONS **/
.btn-primary {
  background-color: #e67300;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.3);
  -moz-box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.3);
  box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.3);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn {
  padding: 10px 22px;
}
@media screen and (max-width: 480px) {
  .btn {
    padding: 10px 0px;
    width: 90%;
  }
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #fff;
  background-color: #ce6c0a;
  border-color: transparent;
  outline: 0;
  text-transform: uppercase;
}
/** FORM **/
textarea {
  resize: none;
}
textarea::-webkit-resizer {
  display: none;
}
/* Header CSS */
header {
  background-color: #ffffff;
}
/* Header Menu*/
.main-menu .hidden-desktop {
  display: none;
}
@media screen and (max-width: 800px) {
  .main-menu {
    background: #187261;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .main-menu .hidden-desktop {
    display: block;
  }
  .main-menu.navbar-left {
    float: none;
  }
  .main-menu.navbar-nav > li,
  .main-menu.nav > li,
  .main-menu.nav > li > a {
    display: block;
    float: none !important;
    position: relative;
  }
  .main-menu.nav > li {
    border-bottom: 1px solid #3f8678;
  }
  .main-menu.nav > li.hidden-desktop {
    background-color: #ffffff;
  }
  .main-menu.nav > li.hidden-desktop a {
    color: #187261;
  }
  .main-menu.nav > li > a {
    padding: 11px 15px;
  }
}
.menu-mobile-btn {
  cursor: pointer;
  display: none;
  padding-right: 50px;
}
.menu-mobile-btn:after {
  background-color: #fff7ff;
  content: "";
  height: 30px;
  right: 0px;
  top: 2px;
  position: absolute;
  width: 1px;
}
@media screen and (max-width: 800px) {
  .menu-mobile-btn {
    display: inline-block;
    padding: 5px 0px;
    position: relative;
    top: 9px;
    width: 50px;
  }
}
.menu-mobile-btn .btn.btn-navbar {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: inherit;
  padding: 0;
}
.menu-mobile-btn .btn.btn-navbar span.icon-bar {
  margin-top: -2px;
  position: absolute;
  right: 0px;
  top: 50%;
  -ms-transition: background 0.3s 0.3s;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.menu-mobile-btn .btn.btn-navbar span.icon-bar::before,
.menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: '';
  right: 0;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform .3s .3s;
}
.menu-mobile-btn .btn.btn-navbar span.icon-bar::before {
  top: -9px;
}
.menu-mobile-btn .btn.btn-navbar span.icon-bar::after {
  top: 9px;
}
.menu-mobile-btn .btn.btn-navbar span.icon-bar,
.menu-mobile-btn .btn.btn-navbar span.icon-bar:before,
.menu-mobile-btn .btn.btn-navbar span.icon-bar:after {
  background: #ffffff;
  border-radius: 5px;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 35px;
}
.menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar {
  background: transparent;
}
.menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:before {
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.menu-mobile-btn .btn.btn-navbar.nav-is-visible span.icon-bar:after {
  -ms-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -webkit-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(3px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(3px) rotate(-45deg);
  transform: translateX(4px) translateY(3px) rotate(-45deg);
}
@media screen and (max-width: 800px) {
  .navbar {
    margin-bottom: 0px;
  }
}
.navbar-nav {
  margin: 0;
}
.navbar-brand {
  display: block;
  float: left;
  height: auto;
  padding: 10px 10px 10px 0px;
}
@media screen and (max-width: 550px) {
  .navbar-brand {
    padding: 10px 5px 10px 0px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand {
    padding: 10px 2px 10px 0px;
  }
}
@media screen and (max-width: 650px) {
  .navbar-brand.msf img {
    width: 65px;
  }
}
@media screen and (max-width: 550px) {
  .navbar-brand.msf img {
    width: 50px;
  }
}
@media screen and (max-width: 450px) {
  .navbar-brand.msf img {
    width: 45px;
  }
}
@media screen and (max-width: 370px) {
  .navbar-brand.msf img {
    width: 40px;
  }
}
@media screen and (max-width: 330px) {
  .navbar-brand.msf img {
    width: 35px;
  }
}
@media screen and (max-width: 650px) {
  .navbar-brand.logo img {
    width: 200px;
  }
}
@media screen and (max-width: 550px) {
  .navbar-brand.logo img {
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  .navbar-brand.logo img {
    width: 130px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand.logo img {
    padding-top: 5px;
    width: 105px;
  }
}
@media screen and (max-width: 370px) {
  .navbar-brand.logo img {
    padding-top: 2px;
    width: 100px;
  }
}
@media screen and (max-width: 330px) {
  .navbar-brand.logo img {
    padding-top: 2px;
    width: 90px;
  }
}
.navbar-collapse {
  margin-top: -6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #187261;
  position: relative;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .navbar-collapse {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 800px) {
  .navbar-collapse {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
  .navbar-collapse form {
    width: calc(100% - 100px);
    float: right;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 520px) {
  .navbar-collapse form {
    width: calc(100% - 70px);
    float: right;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 410px) {
  .navbar-collapse form {
    width: calc(100% - 50px);
    float: right;
    margin: 10px 0px;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: #ffffff;
  font-family: 'DINBold';
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ffec80;
  background-color: transparent;
}
.navbar-header {
  padding: 0px 0 7px;
  background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
}
@media screen and (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
.navbar-header .gov {
  padding: 20px 0px 0px;
}
@media screen and (max-width: 800px) {
  .navbar-header .gov {
    margin-right: -5px;
  }
}
@media screen and (max-width: 330px) {
  .navbar-header .gov {
    padding: 15px 0px 0px;
  }
}
.navbar-header .gov ul {
  float: right;
  margin: 6px 0 0;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .navbar-header .gov ul {
    margin: 3px 0;
  }
}
.navbar-header .gov li {
  display: inline-block;
}
.navbar-header .gov li a {
  border-right: 1px solid #0A0A0A;
  color: #070707;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0 5px;
}
.navbar-header .gov li.change-text a {
  border-right: 0px;
}
.navbar-header .gov li.change-text a.smaller-text {
  font-size: 12px;
}
.navbar-header .gov li.change-text a.bigger-text {
  font-size: 16px;
}
.navbar-header .gov li.change-text a.print-page img {
  border: 0;
  outline: 0;
  width: 17px;
}
.navbar-header .gov li:last-child a {
  border-right: 0px;
}
.navbar-header .gov .logo-sg-right {
  display: block;
  padding-right: 5px;
  text-align: right;
}
@media screen and (max-width: 650px) {
  .navbar-header .gov .logo-sg-right img {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .navbar-header .gov .logo-sg-right img {
    width: 180px;
  }
}
@media screen and (max-width: 450px) {
  .navbar-header .gov .logo-sg-right img {
    width: 160px;
  }
}
@media screen and (max-width: 370px) {
  .navbar-header .gov .logo-sg-right img {
    width: 135px;
  }
}
.nav > li > a {
  font-size: 13px;
  margin: 0 10px;
  padding: 10px 0px;
}
@media screen and (max-width: 832px) {
  .nav > li > a {
    margin: 0 8px;
  }
}
.nav > li,
.nav > li > a {
  position: inherit;
}
.nav > li.iconess,
.nav > li > a.iconess {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav > li.iconess .fa,
.nav > li > a.iconess .fa {
  font-size: 30px;
  color: #fff;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: 0;
}
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a,
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a:focus,
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a:hover {
  color: #ffec80;
  background-color: transparent;
}
.parenting-resources-page .top {
  background-color: #ebe7db;
}
.parenting-resources-page .wrapper-submenu {
  display: block;
}
@media screen and (max-width: 830px) {
  .top > .container-fluid {
    padding: 0px 4px;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .top > .container-fluid {
    padding: 0px;
  }
  .top > .container-fluid > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.wrapper-submenu {
  display: none;
}
.wrapper-submenu ul {
  display: table;
  list-style: none;
  margin: 0px auto 0;
  padding-left: 0;
  text-align: center;
}
.wrapper-submenu ul li {
  display: table-cell;
  cursor: pointer;
  padding: 5px 20px;
  vertical-align: top;
}
.wrapper-submenu ul li a {
  color: #2e2e2e;
  display: block;
  font-family: 'DINBold';
  font-size: 16px;
  text-transform: uppercase;
}
.wrapper-submenu ul li a:hover,
.wrapper-submenu ul li a:focus,
.wrapper-submenu ul li a:active,
.wrapper-submenu ul li a:visited {
  text-decoration: none;
}
.wrapper-submenu ul li a span {
  display: block;
  font-family: 'DINPro-Regular';
  font-size: 13px;
}
.wrapper-submenu ul li:hover,
.wrapper-submenu ul li.active {
  background-color: #187261;
}
.wrapper-submenu ul li:hover a,
.wrapper-submenu ul li.active a {
  color: #ffffff;
}
/* Search */
#btnsearch {
  background: transparent;
  /*background:transparent url(assets/images/search.png) no-repeat center center;*/
  color: #187261;
  font-size: 0;
  height: 100%;
  outline: 0;
  width: 100%;
  position: absolute;
  z-index: 5;
  /*@media screen and (max-width:900px){
    	margin-right: 5px;
    	width: 28px;
    }
    @media screen and (max-width:900px){
    	margin-right: 0px;
    }
    @media screen and (max-width:480px){
    	width: 38px;
    }*/
}
#btnsearch:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search {
  border: 0;
  border-radius: 2px;
  color: #666666;
  font-size: 16px;
  padding: 3px 6px;
  width: 260px;
}
@media screen and (max-width: 960px) {
  #search {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  #search {
    width: 170px;
  }
}
@media screen and (max-width: 860px) {
  #search {
    width: 150px;
  }
}
@media screen and (max-width: 800px) {
  #search {
    width: 240px;
  }
}
@media screen and (max-width: 400px) {
  #search {
    width: calc(100vw - 150px);
  }
}
.search-box {
  margin-top: 6px;
}
@media screen and (max-width: 800px) {
  .search-box {
    float: right;
    margin-top: 0px;
  }
  .search-box li {
    float: left;
  }
}
/* Footer CSS */
footer {
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
footer a:hover,
footer a:focus,
footer a:visited {
  color: #ffffff;
}
footer .footer-bottom {
  background-color: #007c66;
  padding: 20px 0px 42px;
}
footer .footer-bottom .copyright {
  font-size: 14px;
  float: left;
  line-height: 24px;
}
footer .footer-bottom .wrapper-footer-links {
  font-size: 16px;
  float: right;
  line-height: 19px;
}
@media screen and (max-width: 767px) {
  footer .footer-bottom .wrapper-footer-links {
    font-size: 14px;
  }
}
footer .footer-bottom .wrapper-footer-links .footer-links {
  margin-top: 25px;
}
footer .footer-bottom .wrapper-footer-links .footer-links li {
  margin-right: 15px;
}
footer .footer-bottom .wrapper-footer-links .footer-links li:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 650px) {
  footer .footer-bottom .wrapper-footer-links {
    float: none;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links {
    margin-bottom: 15px;
    margin-top: 0px;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links li {
    margin-right: 15px;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links li:last-child {
    margin-right: 0px;
  }
}
footer .footer-top {
  background-color: #258900;
  padding: 22px 0 20px;
}
footer .footer-top .footer-links {
  font-size: 16px;
  line-height: 16px;
  margin-top: 0px;
}
footer .footer-top .footer-links li {
  margin-right: 10px;
  padding-right: 15px;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer .footer-top .footer-links li {
    margin-bottom: 2px;
  }
  footer .footer-top .footer-links li a {
    font-size: 14px;
    line-height: 18px;
  }
}
footer .footer-top .footer-links li:after {
  background-color: #b6d25e;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  width: 2px;
}
footer .footer-top .footer-links li:last-child {
  margin-right: 0px;
}
footer .footer-top .footer-links li:last-child:after {
  display: none;
}
footer ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
footer ul li {
  display: inline-block;
}
/* Home CSS */
/** Alert **/
@media screen and (max-width: 800px) {
  .wrapper-home-alert.container-fluid {
    max-width: 100%;
    padding: 0;
  }
  .wrapper-home-alert.container-fluid .row,
  .wrapper-home-alert.container-fluid .col-md-12 {
    margin: 0;
    padding: 0;
  }
}
.home-alert {
  background-color: #ffffe7;
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
  padding: 25px 22px;
}
.home-alert p {
  margin: 0px;
}
.home-alert .text-alert {
  color: #eb0000;
  font-weight: bold;
}
.home-thumbnail {
  margin-bottom: 40px;
}
.home-thumbnail.left-side .content-thumbnail-wrapper-cta {
  background-color: #007c66;
}
.home-thumbnail.left-side .content-thumbnail-wrapper-cta .btn {
  font-family: proxima_nova_altbold;
}
.home-thumbnail.left-side h3 {
  color: #007c66;
  border-bottom: 5px solid #007c66;
  font-family: 'DINBold';
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .home-thumbnail.left-side h3 {
    font-size: 22px;
    line-height: normal;
  }
}
@media screen and (max-width: 767px) {
  .home-thumbnail.left-side h3 {
    font-size: 20px;
  }
}
.home-thumbnail.left-side h4 {
  color: #007c66;
  font-family: 'DINBold';
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .home-thumbnail.left-side h4 {
    font-size: 20px;
    line-height: normal;
  }
}
@media screen and (max-width: 767px) {
  .home-thumbnail.left-side h4 {
    font-size: 18px;
  }
}
.home-thumbnail.right-side .content-thumbnail-wrapper-cta {
  background-color: #ffedaa;
}
.home-thumbnail.right-side .content-thumbnail-wrapper-cta .btn {
  font-family: proxima_nova_altbold;
}
.home-thumbnail.right-side h3 {
  color: #ce4c00;
  border-bottom: 5px solid #ffedaa;
  font-family: 'DINBold';
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .home-thumbnail.right-side h3 {
    font-size: 22px;
    line-height: normal;
  }
}
@media screen and (max-width: 767px) {
  .home-thumbnail.right-side h3 {
    font-size: 20px;
  }
}
.home-thumbnail.right-side h4 {
  color: #ce4c00;
  font-family: 'DINBold';
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .home-thumbnail.right-side h4 {
    font-size: 20px;
    line-height: normal;
  }
}
@media screen and (max-width: 767px) {
  .home-thumbnail.right-side h4 {
    font-size: 18px;
  }
}
.home-thumbnail .content-thumbnail-copy {
  border-bottom: 1px solid #e1ded5;
  padding: 30px 22px;
}
@media screen and (max-width: 768px) {
  .home-thumbnail .content-thumbnail-copy {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .home-thumbnail .content-thumbnail-copy {
    height: 300px;
  }
}
.home-thumbnail .content-thumbnail-copy .desc {
  color: #2e2e2e;
  font-family: proxima_nova_regular, sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
}
.home-thumbnail .content-thumbnail-img {
  background-size: cover;
  background-position: center center;
  height: 207px;
}
.home-thumbnail .content-thumbnail-wrapper-cta {
  padding: 30px 20px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .home-thumbnail .content-thumbnail-wrapper-cta {
    padding: 10px;
  }
}
.home-thumbnail .wrapper-content-thumbnail {
  -webkit-box-shadow: 0px 3px 3px 0px #e7e7e7;
  -moz-box-shadow: 0px 3px 3px 0px #e7e7e7;
  box-shadow: 0px 3px 3px 0px #e7e7e7;
}
/* HOME HERO  - CALL OUT - SLIDER */
.home-hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .home-hero {
    display: block;
  }
}
.home-hero > .col-md-3 {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .home-hero > .col-md-3 {
    padding-left: 15px;
  }
}
.home-hero > .col-md-9 {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .home-hero > .col-md-9 {
    padding-right: 15px;
  }
}
.home-hero .call-out {
  margin-top: 5px;
}
.home-hero .callout-link {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f57e20;
  border-radius: 50%;
  background-image: url(assets/images/call-out.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .home-hero .callout-link {
    width: 20px;
    height: 20px;
    background-size: 8px auto;
  }
}
.home-hero .hero {
  margin-bottom: 0px;
  /*opacity: 0;*/
  /*@media screen and (max-width: 1098px) {
            height: 340px;
            .hero-img figure {
                height: 340px;
            }
        }*/
  /*@media screen and (max-width:768px) {
            height: auto;

            .hero-img figure {
                height: auto;
                padding-top: 56.25%;
            }
        }*/
}
.home-hero .hero .hero-img figure {
  height: 300px;
  width: 100%;
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .home-hero .hero .hero-img figure {
    height: 350px;
    max-height: 55vw;
  }
}
@media screen and (max-width: 767px) {
  .home-hero .hero {
    height: auto;
    margin-bottom: 30px;
  }
  .home-hero .hero .hero-img figure {
    height: auto;
    padding-top: 56.25%;
  }
}
.home-hero .home-hero-links {
  list-style: none;
  max-width: 100%;
  padding: 0;
  text-align: center;
}
.home-hero .home-hero-links .btn {
  /*font-family: 'proxima_nova_ltsemibold';*/
  font-family: 'proxima_nova_altbold';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  white-space: normal;
  width: 100%;
}
.home-hero .home-hero-links .btn-primary.purple {
  color: #fff;
  background-color: #890034;
  border-color: transparent;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  /*font-weight: bold;*/
  outline: 0;
  padding: 20px 0;
  text-transform: uppercase;
}
.home-hero .home-hero-links .btn-primary.purple:focus,
.home-hero .home-hero-links .btn-primary.purple:hover,
.home-hero .home-hero-links .btn-primary.purple:active,
.home-hero .home-hero-links .btn-primary.purple:active:focus {
  color: #fff;
  background-color: #5b0425;
  border-color: transparent;
  font-size: 18px;
  font-weight: 400;
  /*font-weight: bold;*/
  outline: 0;
  text-transform: uppercase;
}
.home-hero .home-hero-links li {
  margin: 10px auto;
}
@media screen and (max-width: 768px) {
  .home-hero .home-hero-links li {
    margin: 18px auto;
  }
}
@media screen and (max-width: 767px) {
  .home-hero .home-hero-links li {
    margin: 10px auto;
  }
}
.home-hero .wrapper-home-links {
  background-color: #ffedaa;
  height: 100%;
  padding: 10px 20px;
  /*@media screen and (max-width:760px){
            height: 340px;
        }*/
}
@media screen and (max-width: 1098px) {
  .home-hero .wrapper-home-links {
    height: 100%;
  }
  .home-hero .wrapper-home-links .btn {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .home-hero .wrapper-home-links li:nth-child(2) .btn,
  .home-hero .wrapper-home-links li:nth-child(3) .btn,
  .home-hero .wrapper-home-links li:nth-child(4) .btn {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 767px) {
  .home-hero .wrapper-home-links {
    height: auto;
    padding-bottom: 50px;
  }
  .home-hero .wrapper-home-links .btn {
    padding: 10px;
  }
  .home-hero .wrapper-home-links li:nth-child(2) .btn,
  .home-hero .wrapper-home-links li:nth-child(3) .btn,
  .home-hero .wrapper-home-links li:nth-child(4) .btn {
    padding: 10px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home-hero > .col-sm-4 {
    width: 31.33333333%;
  }
  .home-hero > .col-md-9 {
    padding-right: 10px;
  }
  .home-hero .wrapper-home-links {
    height: 100%;
    position: absolute;
    right: 15px;
  }
}
/* CALL OUT */
.callout {
  display: none;
  border: 1px solid #ff860f;
  border-radius: 0;
  position: absolute;
  right: 65px;
  margin-top: -33px;
  z-index: 1060;
  max-width: 200px;
  padding: 1px;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .callout {
    right: 76px;
    margin-top: -38px;
  }
}
.callout > .arrow {
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 11px;
  border-left-color: #ff860f;
  border-left-style: solid;
  border-left-width: 11px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-style: solid;
  border-top-width: 11px;
  box-sizing: border-box;
  color: #333333;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 22px;
  letter-spacing: normal;
  line-break: auto;
  line-height: 20px;
  margin-top: -22px;
  position: absolute;
  right: -11px;
  text-align: start;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  top: 28px;
  white-space: normal;
  width: 11px;
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.callout > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  right: -9px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
  content: " ";
  border-width: 10px;
}
.callout-content {
  padding: 9px 10px 9px 14px;
}
.callout-content ul {
  padding-left: 15px;
}
.callout-link img {
  /*margin-top: -1px;*/
}
@media screen and (min-width: 768px) {
  .callout-link img {
    width: 20px;
    height: auto;
  }
}
/* SLICK */
.slick-slide:focus {
  outline: 0;
}
.slick-slide a:focus {
  outline: 0;
}
.slick-prev {
  left: 15px;
  z-index: 9;
}
.slick-prev:before {
  background: url(assets/images/slick-prev.png);
  background-size: 33px 57px;
  content: "";
  display: block;
  height: 57px;
  width: 33px;
}
@media screen and (max-width: 767px) {
  .slick-prev:before {
    background-size: 20px 28px;
    height: 28px;
    width: 20px;
  }
}
.slick-next {
  right: 15px;
}
.slick-next:before {
  background: url(assets/images/slick-next.png);
  background-size: 33px 57px;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 57px;
  width: 33px;
}
@media screen and (max-width: 767px) {
  .slick-next:before {
    background-size: 20px 28px;
    height: 28px;
    width: 20px;
  }
}
.slick-next,
.slick-prev {
  height: auto;
  width: auto;
}
.slick-initialized.hero-text .slick-slide {
  border-left: 1px solid #187261;
  display: block;
  outline: 0;
  padding: 10px 0px;
  /*.desc{
        font-size:18px;
        line-height:20px;
    }*/
  /*h3{
        font-size:30px;
        line-height:32px;
    }*/
}
/* Life stage landing CSS */
.parenting-resources-page .lifestage-hero {
  margin-bottom: 50px;
}
.parenting-resources-page .lifestage-hero h2 {
  color: #2e2e2e;
}
.parenting-resources-page .lifestage-links {
  margin-bottom: 50px;
}
.parenting-resources-page .lifestage-links h3 {
  background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
  margin-bottom: 16px;
  padding-bottom: 20px;
}
.parenting-resources-page .lifestage-links .links-title {
  color: #007c66;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  padding-bottom: 8px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .lifestage-links .links-title {
    position: relative;
    padding-bottom: 12px;
    text-transform: none;
    font-size: 20px;
    line-height: 24px;
  }
  .parenting-resources-page .lifestage-links .links-title:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f067';
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 0;
    line-height: normal;
  }
  .parenting-resources-page .lifestage-links .links-title.opened:after {
    content: '\f068';
  }
}
.parenting-resources-page .lifestage-links ul {
  list-style: none;
  padding-bottom: 20px;
  padding-left: 0px;
}
.parenting-resources-page .lifestage-links ul li {
  padding-bottom: 8px;
}
.parenting-resources-page .lifestage-links ul li a {
  color: #000000;
  font-family: 'proxima_nova_regular';
  font-size: 18px;
  line-height: 19px;
  position: relative;
  text-decoration: none;
}
.parenting-resources-page .lifestage-links ul li a:after {
  background-color: #d8d8d8;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  /*width: 100%;*/
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .lifestage-links ul {
    display: none;
    padding-left: 20px;
    padding-bottom: 5px;
  }
}
.parenting-resources-page .page-parenting-hero h2 {
  color: #2e2e2e;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .page-parenting-hero h2 {
    font-size: 20px;
  }
}
.parenting-resources-page .page-parenting-links {
  margin-bottom: 50px;
}
.parenting-resources-page .page-parenting-links h3 {
  background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
  margin-bottom: 16px;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .page-parenting-links h3 {
    font-size: 20px;
    line-height: 17px;
  }
}
.parenting-resources-page .page-parenting-links .article__flex {
  margin-left: -8px;
  margin-right: -8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.parenting-resources-page .page-parenting-links .article__flex article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 8px;
}
.parenting-resources-page .page-parenting-links .article__flex .article__inner {
  /*height: 100%;*/
  border: 1px solid #b3b3b3;
}
.parenting-resources-page .page-parenting-links .article__flex .article__inner figure {
  width: 100%;
  padding-bottom: 56.25%;
  /*height: 170px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*@media screen and (max-width:767px){*/
  /*height: 480px;*/
  /*max-height: 60vw;*/
  /*}*/
}
.parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail {
  padding: 20px;
}
.parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail h4 {
  font-family: proxima_nova_ltsemibold, sans-serif;
  font-size: 20px;
  margin-top: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail p {
    font-size: 15px;
  }
}
.parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail a {
  color: #007c66;
}
@media screen and (max-width: 767px) {
  .parenting-resources-page .page-parenting-links .article__flex .article__inner .article__detail a {
    font-size: 15px;
  }
}
.hero {
  position: relative;
  background-color: #187261;
  /*height: 300px;*/
  overflow: hidden;
  /*opacity:0;*/
  margin-bottom: 40px;
}
.hero .hero__column {
  padding: 0;
  margin: 0;
  /*height: 100%;*/
  position: static;
}
.hero .hero__column.col1 {
  float: left;
  position: relative;
  width: 66.66666667%;
}
@media screen and (max-width: 767px) {
  .hero .hero__column.col1 {
    display: block;
    float: none;
    width: 100%;
  }
}
.hero .hero__column.col2 {
  float: left;
  position: relative;
  width: 33.33333333%;
}
@media screen and (max-width: 767px) {
  .hero .hero__column.col2 {
    display: block;
    float: none;
    width: 100%;
  }
}
.hero .hero-img figure {
  background-size: cover;
  background-position: center center;
  /*height: 300px;*/
  width: 100%;
  padding-bottom: 56.25%;
  /*@media screen and (max-width:767px){*/
  /*height: 350px;*/
  /*max-height: 55vw;*/
  /*}*/
}
.hero .hero-text {
  color: #ffffff;
  padding: 0 20px 45px;
  height: 100%;
  margin-bottom: 0;
  position: static;
}
.hero .hero-text a {
  color: #ffffff;
}
.hero .hero-text a:hover,
.hero .hero-text a:focus,
.hero .hero-text a:active,
.hero .hero-text a:visited {
  color: #ffffff;
}
.hero .hero-text .desc {
  font-size: 18px;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .hero .hero-text .desc {
    font-size: 15px;
    line-height: normal;
  }
}
.hero .hero-text h3 {
  color: #ffffff;
  font-size: 30px;
  line-height: 32px;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .hero .hero-text h3 {
    font-size: 20px;
    line-height: normal;
  }
}
.hero .hero-text .slick-dots {
  width: auto;
  display: inline-block;
  bottom: 5px;
  right: 10px;
}
.hero .hero-text .slick-dots li {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .hero .hero-text .slick-dots li {
    width: 7px;
    height: 7px;
    margin: 5px;
  }
}
.hero .hero-text .slick-dots li.slick-active {
  background-color: #ffffff;
}
.hero .hero-text .slick-dots button {
  display: none;
}
@media screen and (max-width: 767px) {
  .hero {
    height: auto;
  }
}
/* Article CSS */
.content-article {
  border-bottom: 2px solid #e8e8e8;
  color: #2e2e2e;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.content-article a,
.content-article a:hover,
.content-article a:focus,
.content-article a:visited,
.content-article a:active,
.content-article a:active:focus {
  color: #2e2e2e;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.content-article a:after {
  background-color: #d8d8d8;
  bottom: 0.5px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
.content-article img {
  max-width: 100%;
}
.content-article ul,
.content-article ol {
  margin-bottom: 20px;
  padding-left: 15px;
}
.content-article ul li,
.content-article ol li {
  margin-bottom: 5px;
}
.content-template-copy a,
.content-template-copy a:hover,
.content-template-copy a:focus,
.content-template-copy a:visited,
.content-template-copy a:active,
.content-template-copy a:active:focus {
  color: #2e2e2e;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.content-template-copy a:after {
  background-color: #d8d8d8;
  bottom: 0.5px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
.content-template-copy img {
  max-width: 100%;
}
.content-template-copy ul,
.content-template-copy ol {
  margin-bottom: 20px;
  padding-left: 15px;
}
.content-template-copy ul li,
.content-template-copy ol li {
  margin-bottom: 5px;
}
iframe {
  margin: 10px 0px 20px;
  max-width: 800px;
}
@media screen and (max-width: 767px) {
  iframe {
    height: 300px;
  }
}
.navigation-article {
  margin-bottom: 30px;
  text-align: right;
}
.navigation-article a {
  color: #007c66;
  font-weight: bold;
  text-transform: uppercase;
}
/* Template 01 */
.wrapper-article-template01 .content-template-copy {
  float: left;
  padding-right: 15px;
  width: 65%;
}
.wrapper-article-template01 .content-template-image {
  background-position: center center;
  background-size: cover;
  padding-top: 70%;
}
.wrapper-article-template01 .content-template-image-desc {
  color: #ffffff;
  background-color: #007c66;
  padding: 20px;
}
.wrapper-article-template01 .content-template-image-desc h3 {
  font-size: 25px;
  margin-top: 0;
}
.wrapper-article-template01 .wrapper-content-template-image {
  float: left;
  padding-left: 15px;
  width: 35%;
}
@media screen and (max-width: 800px) {
  .wrapper-article-template01 .content-template-copy,
  .wrapper-article-template01 .wrapper-content-template-image {
    float: none;
    padding: 0px;
    width: 100%;
  }
}
/* Template 03 */
.wrapper-article-template03 {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.wrapper-article-template03 a {
  color: #007c66;
  font-size: 14px;
}
.wrapper-article-template03 h5,
.wrapper-article-template03 .h5 {
  color: #2e2e2e;
  margin-top: 0;
}
.wrapper-article-template03 .article-template03-copy {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 157px);
}
@media screen and (max-width: 500px) {
  .wrapper-article-template03 .article-template03-copy {
    width: calc(100% - 120px);
  }
}
.wrapper-article-template03 .article-template03-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 132px;
  margin-right: 15px;
  vertical-align: top;
  width: 132px;
}
@media screen and (max-width: 500px) {
  .wrapper-article-template03 .article-template03-img {
    height: 100px;
    width: 100px;
  }
}
.wrapper-article-template03 .row.article-template03 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper-article-template03 .row.article-template03 .col-md-6 {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-top: 30px;
}
.wrapper-article-template03 .row.article-template03:last-child {
  margin-bottom: 0px;
}
.wrapper-article-template03 .row.article-template03:last-child .col-md-6 {
  border-bottom: 0px;
  padding-bottom: 10px;
}
/* Template 04 */
.wrapper-article-template04 {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.wrapper-article-template04 a {
  color: #007c66;
  font-size: 14px;
}
.wrapper-article-template04 h5,
.wrapper-article-template04 .h5 {
  color: #2e2e2e;
  margin-top: 0;
}
.wrapper-article-template04 .article-template04-copy {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 157px);
}
@media screen and (max-width: 500px) {
  .wrapper-article-template04 .article-template04-copy {
    width: calc(100% - 120px);
  }
}
.wrapper-article-template04 .article-template04-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100px;
  margin-right: 10px;
  vertical-align: top;
  width: 130px;
}
@media screen and (max-width: 500px) {
  .wrapper-article-template04 .article-template04-img {
    height: 100px;
    width: 100px;
  }
}
.wrapper-article-template04 .row.article-template04 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper-article-template04 .row.article-template04 .col-md-6 {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-top: 30px;
}
.wrapper-article-template04 .row.article-template04:last-child {
  margin-bottom: 0px;
}
.wrapper-article-template04 .row.article-template04:last-child .col-md-6 {
  border-bottom: 0px;
  padding-bottom: 10px;
}
.lifestage-hero.hero-article-template04 {
  margin-bottom: 0px;
}
.parenting-resources-page .lifestage-hero.hero-article-template04 .hero {
  margin-bottom: 10px;
}
/* Template 05 */
.wrapper-article-template05 {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.wrapper-article-template05 .article-template05-copy {
  display: inline-block;
  vertical-align: top;
}
.wrapper-article-template05 .article-template05-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  padding-top: 75%;
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .wrapper-article-template05 .article-template05-img {
    height: 100px;
    width: 100px;
  }
}
.wrapper-article-template05 .row.article-template05 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper-article-template05 .row.article-template05 .col-md-4 {
  margin-bottom: 35px;
}
.wrapper-article-template05 .title-thumbnail {
  background-color: #cde4df;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
}
/* Template 06 */
.wrapper-article-template06 {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.wrapper-article-template06 a {
  color: #007c66;
  font-size: 14px;
}
.wrapper-article-template06 h5,
.wrapper-article-template06 .h5 {
  color: #2e2e2e;
  margin-top: 0;
}
.wrapper-article-template06 .article-template06-copy {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 157px);
}
@media screen and (max-width: 500px) {
  .wrapper-article-template06 .article-template06-copy {
    width: calc(100% - 120px);
  }
}
.wrapper-article-template06 .article-template06-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 132px;
  margin-right: 15px;
  vertical-align: top;
  width: 132px;
}
@media screen and (max-width: 500px) {
  .wrapper-article-template06 .article-template06-img {
    height: 100px;
    width: 100px;
  }
}
.wrapper-article-template06 .row.article-template06 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper-article-template06 .row.article-template06 .col-md-6 {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-top: 30px;
}
.wrapper-article-template06 .row.article-template06:last-child {
  margin-bottom: 0px;
}
.wrapper-article-template06 .row.article-template06:last-child .col-md-6 {
  border-bottom: 0px;
  padding-bottom: 10px;
}
/* Sidebar CSS */
.sidebar {
  border: 2px solid #007c66;
  margin-top: 15px;
  padding-bottom: 10px;
  width: 100%;
}
.sidebar > ul {
  list-style: none;
  padding: 20px;
}
.sidebar > ul > li {
  margin: 0 0 10px 0px;
}
.sidebar > ul > li:last-child {
  margin: 0px;
}
.sidebar > ul > li > a {
  color: #007c66;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links {
  display: none;
  list-style: none;
  padding: 10px 0px;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li {
  margin: 0 0 2px 0px;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li:last-child {
  margin: 0px;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a {
  display: block;
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 700;
  padding-right: 15px;
  position: relative;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a.has-subsubmenu-menu:hover,
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a.has-subsubmenu-menu:active,
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a.has-subsubmenu-menu:focus {
  text-decoration: none;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a.has-subsubmenu-menu:before {
  background: #595959;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  top: 9px;
  width: 12px;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li > a.has-subsubmenu-menu:after {
  background: #595959;
  content: "";
  display: block;
  height: 12px;
  right: 5px;
  position: absolute;
  top: 4px;
  width: 2px;
}
.sidebar > ul > li .sidebar-wrapper-submenu-links > li.active > a:after {
  display: none;
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links {
  display: none;
  list-style: none;
  padding: 15px 0px 20px 0px;
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li {
  margin: 0 0 8px 0px;
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li:before {
  content: ">";
  color: #2e2e2e;
  display: inline-block;
  font-family: proxima_nova_regular;
  font-weight: 400;
  padding: 0 5px;
  vertical-align: top;
  width: 17px;
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li:last-child {
  margin: 0px;
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li > a {
  display: inline-block;
  color: #2e2e2e;
  font-family: proxima_nova_ltthin;
  font-size: 18px;
  position: relative;
  width: calc(100% - 22px);
}
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li > a:hover,
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li > a:active,
.sidebar > ul > li .sidebar-wrapper-subsubmenu-links > li > a:focus {
  text-decoration: underline;
}
.sidebar > ul > li.active .sidebar-wrapper-submenu-links,
.sidebar > ul > li .active .sidebar-wrapper-subsubmenu-links {
  display: block;
}
.sidebar .sidebar-title {
  border-bottom: 2px solid #91c6bd;
  -webkit-box-shadow: 0 1px 5px rgba(31, 31, 31, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(31, 31, 31, 0.1);
  box-shadow: 0 1px 5px rgba(31, 31, 31, 0.1);
  padding: 15px 20px;
}
.sidebar .sidebar-title > h4 {
  color: #007c66;
  font-size: 25px;
  line-height: 26px;
  margin: 0px;
}
.col-md-3.wrapper-sidebar {
  margin-bottom: 30px;
  max-width: 306px;
}
@media screen and (max-width: 800px) {
  .col-md-3.wrapper-sidebar {
    display: none;
  }
}
.col-md-9.wrapper-content-template {
  margin-bottom: 30px;
  width: calc(100% - 280px);
}
@media screen and (max-width: 800px) {
  .col-md-9.wrapper-content-template {
    width: 100%;
  }
}
/*Submenu CSS*/
.wrapper-submenu-mobile {
  color: #2e2e2e;
}
.wrapper-submenu-mobile a {
  text-decoration: none;
}
.wrapper-submenu-mobile strong {
  font-family: 'DINBold';
  font-weight: normal;
  font-style: normal;
}
.wrapper-submenu-mobile .dropdown {
  font-family: 'DINPro-Regular';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.wrapper-submenu-mobile .dropdown .dropdown-toggle {
  position: relative;
  color: #007c66;
  display: block;
  margin: 0;
  padding: 18px 55px 18px 18px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
}
.wrapper-submenu-mobile .dropdown .dropdown-toggle strong {
  font-size: 18px;
}
.wrapper-submenu-mobile .dropdown .dropdown-toggle .babycaret {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  padding: 12px 18px;
  -webkit-box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 0px 1px -1px rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.wrapper-submenu-mobile .dropdown .dropdown-toggle .babycaret:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f0d7';
  display: inline-block;
  font-size: 26px;
}
.wrapper-submenu-mobile .dropdown .dropdown-toggle:hover,
.wrapper-submenu-mobile .dropdown .dropdown-toggle:focus {
  color: #007c66;
  background: transparent;
}
.wrapper-submenu-mobile .dropdown.open .dropdown-toggle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.wrapper-submenu-mobile .dropdown.open .dropdown-toggle .babycaret:before {
  content: '\f0d8';
}
.wrapper-submenu-mobile .dropdown .dropdown-menu {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #ebe7db;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.droproot {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.droproot.opened {
  left: -100%;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.dropside {
  position: absolute;
  top: 0;
  left: 100%;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.dropside .dropdown-back {
  position: relative;
  color: #fff;
  background-color: #007c66;
  padding: 30px 18px 30px 40px;
  font-size: 18px;
  line-height: 18px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.dropside .dropdown-back:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  font-size: 26px;
  content: '\f0d9';
}
.wrapper-submenu-mobile .dropdown .dropdown-menu > li > a {
  border-top: 1px solid rgba(192, 190, 184, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding: 30px 18px;
  outline: none;
  background: transparent;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu > li.dropdown-submenu > a:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.second2nd > li.dropdown-submenu > a {
  padding-right: 40px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.second2nd > li.dropdown-submenu > a:before {
  content: '\f0da';
  right: 18px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.second2nd > li.opened > a:before {
  content: '\f0d7';
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.third3rd {
  border-top: 1px solid rgba(192, 190, 184, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.third3rd li {
  padding: 0 15px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.third3rd li a {
  border: none;
  padding: 15px 18px;
  text-transform: none;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.third3rd li.dropdown-submenu > a:before {
  content: '\f067';
  right: 20px;
  font-size: 16px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.third3rd li.opened > a:before {
  content: '\f068';
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.four4th li a {
  padding-left: 30px;
}
.wrapper-submenu-mobile .dropdown .dropdown-menu.four4th li a:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  content: '\f105';
  font-size: 16px;
}
.wrapper-submenu-mobile .dropdown > .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
}
